{% load static %}
<div class="col-md-12 col-lg-4 sidebar">
    <div class="sidebar-box search-form-wrap">
        <form action="/search/" method="post" class="search-form">
            {% csrf_token %}
            <div class="form-group">
                <span class="icon fa fa-search"></span>
                <input name="query" type="text" class="form-control" id="s"
                       placeholder="Manzilgohlarni izlang">
            </div>
        </form>
    </div>

    <div class="sidebar-box">
        <div class="bio text-center">
            
            <img src="{% static 'images/IMG_20231122_093317_525.jpg' %}" alt="Image Placeholder" class="img-fluid">
            <div class="bio-body">
                <h2>Otabek Xakimjonov</h2>
                <p>Toshkent Axborot Texnologiyalari Universiteti Dasturiy Injenering Fakulteti 3- kurs talabasi</p>
                <p></p>
                <p><a href="#" class="btn btn-primary btn-sm">Men haqimda o'qing</a></p>
                <p class="social">
                    <a href="#" class="p-2"><span class="fa fa-facebook"></span></a>
                    <a href="#" class="p-2"><span class="fa fa-twitter"></span></a>
                    <a href="#" class="p-2"><span class="fa fa-instagram"></span></a>
                    <a href="#" class="p-2"><span class="fa fa-youtube-play"></span></a>
                </p>
            </div>
        </div>
    </div>

    <div class="sidebar-box">
        <h3 class="heading">Mashxur postlar</h3>
        <div class="post-entry-sidebar">
            <ul>
                {% for post in popular_posts %}
                <li>
                    <a href="/blog/{{ post.id }}">
                        <img src="{{ post.image.url }}" alt="Image placeholder" class="mr-4">
                        <div class="text">
                            <h4>{{ post.title }}</h4>
                            <div class="post-meta">
                                <span class="mr-2">{{ post.created_at }}</span> &bullet;
                                <span class="ml-2"><span class="fa fa-comments"></span>{{ post.comment_count }}</span>
                            </div>
                        </div>
                    </a>
                </li>
                {% endfor %}
                
            </ul>
        </div>
    </div>

    <div class="sidebar-box">
        <h3 class="heading">Viloyatlar</h3>
        <ul class="categories">
            {% for category in categories %}
            <li><a href="/category/{{ category.id }}">{{ category.name }}<span>{{ category.id }}</span></a></li>
            {% endfor %}
       
        </ul>
    </div>

    <div class="sidebar-box">
        <h3 class="heading">Vazifalari</h3>
        <ul class="tags">
            {% for tag in tags %}
            <li><a href="/tag/?tag={{ tag.id }}">{{ tag.name }}</a></li>
            {% endfor %}
    
        </ul>
    </div>
</div>