{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}

    <section class="site-section">
        <div class="container">
            <div class="row mb-4">
                <div class="col-md-6">
{#                    <h2 class="mb-4">Viloyat: {{ category_name }}</h2>#}
                </div>
            </div>
            <div class="row blog-entries">
                <div class="col-md-12 col-lg-8 main-content">
                    <div class="row mb-5 mt-5">
                        <div class="col-md-12">
                            {% for post in posts %}
                            <div class="post-entry-horzontal">
                                <a href="/blog/{{ post.id }}">
                                    <div class="image element-animate" data-animate-effect="fadeIn"
                                         style="background-image: url({{ post.image.url }});"></div>
                                    <span class="text">
<div class="post-meta">
<span class="category">{{ post.category }}</span>
<span class="mr-2">{{ post.created_at }}</span> &bullet;
<span class="ml-2"><span class="fa fa-comments"></span>{{ post.comment_count }}</span>
</div>
<h2>{{ post.title }}</h2>
</span>
                                </a>
                            </div>
                            {% endfor %}    
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <nav aria-label="Page navigation" class="text-center">
                                <ul class="pagination">
                                    {% if posts.has_previous %}
                                        <li class="page-item  active"><a class="page-link" href="?page={{ posts.previous_page_number }}">Prev</a></li>
                                    {% endif %}
                                    {% for page in posts.paginator.page_range %}
                                        {% if posts.number == page %}
                                            <li class="page-item active"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
                                        {% else %}
                                            <li class="page-item"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
                                        {% endif %}
                                    {% endfor %}
                                    {% if posts.has_next %}
                                        <li class="page-item  active"><a class="page-link" href="?page={{ posts.next_page_number }}">Next</a></li>
                                    {% endif %}
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>

                {% include 'layouts/sidebar.html' %}

            </div>
        </div>
    </section>

{% endblock %}