{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}

<section class="site-section pt-5"  >
    <div class="container">
        <div class="row">
            
            <div class="col-md-12">
                <div class="owl-carousel owl-theme home-slider">
                    {% for post in face_posts %}
                    <div>
                        <a href="/blog/{{ post.id }}" class="a-block d-flex align-items-center height-lg"
                           style="background-image: url({{ post.image.url }}); ">
                            <div class="text half-to-full">
                                <div class="post-meta">
                                    <span class="category">{{ post.category }}</span>
                                    <span class="mr-2">{{ post.created_at }}</span> &bullet;
                                    <span class="ml-2"><span class="fa fa-comment"></span>{{ post.comment_count }}</span>
                                </div>
                                <h3>{{ post.title }}</h3>
                                <p>Dunyoni kezing!</p>
                                <p>Avval o'zimizdan boshlang!</p>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                    
                </div>
            </div>
        </div>
        <div class="row">
            
            {% for post in face_posts2 %}    
            <div class="col-md-6 col-lg-4">
                <a href="/blog/{{ post.id }}" class="a-block d-flex align-items-center height-md"
                   style="background-image: url({{ post.image.url }}); ">
                    <div class="text">
                        <div class="post-meta">
                            <span class="category">{{ post.category }}</span>
                            <span class="mr-2">{{ post.created_at }}</span> &bullet;
                            <span class="ml-2"><span class="fa fa-comments"></span>{{ post.comment_count }}</span>
                        </div>
                        <h3>{{ post.title }}</h3>
                    </div>
                </a>
            </div>
            {% endfor %}
           
        </div>
    </div>
</section>

<section class="site-section py-sm">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2 class="mb-4">Avvalgi postlar</h2>
            </div>
        </div>
        <div class="row blog-entries">
            <div class="col-md-12 col-lg-8 main-content">
                <div class="row">
                    {% for post in initial_posts %}
                    <div class="col-md-6">
                        <a href="/blog/{{ post.id }}" class="blog-entry element-animate" data-animate-effect="fadeIn">
                            <img src="{{ post.image.url }}" alt="Image placeholder">
                            <div class="blog-content-body">
                                <div class="post-meta">
                                    <span class="category">{{ post.category }}</span>
                                    <span class="mr-2">{{ post.created_at }}</span> &bullet;
                                    <span class="ml-2"><span class="fa fa-comments"></span>{{ post.comment_count }}</span>
                                </div>
                                <h2>{{ post.title }}</h2>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                    
                </div>
{#                <div class="row">#}
{#                    <div class="col-md-12 text-center">#}
{#                        <nav aria-label="Page navigation" class="text-center">#}
{#                            <ul class="pagination">#}
{#                                <li class="page-item  active"><a class="page-link" href="#">Prev</a></li>#}
{#                                <li class="page-item"><a class="page-link" href="#">1</a></li>#}
{#                                <li class="page-item"><a class="page-link" href="#">2</a></li>#}
{#                                <li class="page-item"><a class="page-link" href="#">3</a></li>#}
{#                                <li class="page-item"><a class="page-link" href="#">Next</a></li>#}
{#                            </ul>#}
{#                        </nav>#}
{#                    </div>#}
{#                </div>#}
                <div class="row mb-5 mt-5">
                    <div class="col-md-12">
                        <h2 class="mb-4">Ko'proq postlar</h2>
                    </div>
                    <div class="col-md-12">
                        {% for post in more_posts %}
                        <div class="post-entry-horzontal">
                            <a href="/blog/{{ post.id }}">
                                <div class="image element-animate" data-animate-effect="fadeIn"
                                     style="background-image: url({{ post.image.url }});"></div>
                                <span class="text">
<div class="post-meta">
<span class="category">{{ post.category }}</span>
<span class="mr-2">{{ post.created_at }}</span> &bullet;
<span class="ml-2"><span class="fa fa-comments"></span>{{ post.comment_count }}</span>
</div>
<h2>{{ post.title }}</h2>
</span>
                            </a>
                        </div>
                        {% endfor %}
                        

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <nav aria-label="Page navigation" class="text-center">
                            <ul class="pagination">
                                {% if more_posts.has_previous %}
                                    <li class="page-item  active"><a class="page-link" href="?page={{ more_posts.previous_page_number }}">Prev</a></li>
                                {% endif %}
                                {% for post in more_posts.paginator.page_range %}
                                    {% if more_posts.number == post %}
                                        <li class="page-item active"><a class="page-link" href="?page={{ post }}">{{ post }}</a></li>
                                    {% else %}
                                        <li class="page-item"><a class="page-link" href="?page={{ post }}">{{ post }}</a></li>
                                    {% endif %}
                                {% endfor %}
                                {% if more_posts.has_next %}
                                    <li class="page-item active"><a class="page-link" href="?page={{ more_posts.next_page_number }}">Next</a></li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>

            {% include 'layouts/sidebar.html' %}

        </div>
    </div>
</section>

{% endblock %}
